.loader{
    width: 100px;
    height: 100px;
    /* background-color: aqua; */
   
    border-radius: 50%;
    border: 5px solid rgb(234, 221, 221);
     border-top: 5px solid rgb(0, 1, 1);
     animation: spinAnimate 1s ease-in 0s infinite
}

@keyframes spinAnimate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
    
}
body{
    display: flex;
    justify-content: center;
    margin-top : 60px ;
} 