/* @media(max-width: 768px){
    p{
        font-size: 80px;
    }
} */

/* .box{
    width: 100%;
    height: 100px;
    background-color: greenyellow;
}

@media(min-width:768px){
    .box{
        background-color: red;
    }
} */

p{
    width: 100%;
    height: 100px;
    background-color: greenyellow;
}

@media(min-width:768px){
    p{
        background-color: rgb(72, 178, 227);
    }
} 
 
nav ul{
    display: flex;
    justify-content: space-around;
}

