div{
    height: 200px;
    width: 200px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;
}
#content{
    height: 200px;
    width: 700px;
    text-align: center;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  
    /* align-content: end; */
    
}
h1{
    text-align: center;
}
body{
    text-align: center;
}
#box2{
    flex-shrink: 0.5;
}


