 /* div{
    background-color: green;
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 50%;
    text-align: center;
     
}  */

#navbar {
    height: 60px;
    background-color: #0f1111;
}
a {
    color: white;
    margin-right: 200px;
}
button{
    background-color: #f08804;
}
#logo{
    color: #f08804;
}
