/* h1{
    color: rgb(43, 114, 10);
}
p{
    color: green;
}


body{
    background-color: bisque;
}
button{
    color: brown;
    background-color: rgb(209, 211, 214);
} */
 *{
    color: burlywood;
 }
#heading1{
    color: aquamarine;
}
#heading2{
    color: cadetblue;
}
#heading3{
    color: coral;
}
.myclass{
    color: rgb(105, 164, 16);
}