/* @media(max-width: 768px){
    p{
        font-size: 80px;
    }
} */

/* .box{
    width: 100%;
    height: 100px;
    background-color: greenyellow;
}

@media(min-width:768px){
    .box{
        background-color: red;
    }
} */

 /* p{
    width: 100%;
    height: 100px;
    background-color: rgb(190, 248, 171);
    box-shadow: 0 2px 5px;
    border-radius: 10px;
}

@media(min-width:768px){
    p{
        background-color: rgb(206, 246, 146);
    }
} 
 
nav ul{
    display: flex;
    justify-content: space-around;
}
.box{
    width: auto;
    height: auto;
    border: 1px solid black;
    background-color: antiquewhite;
    border-radius: 10px;
    box-shadow: 0 2px 5px;
}  */

nav ul{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.box{
    display: none;
}

.hamburger{
    cursor: pointer;

}

@media(min-width:768px){
    .hamburger{
        display: none;
    
    }
    .box{
        width:auto;
    }
}